html {
	font: 90%/1.3 arial,sans-serif;
	background:#B9C2CC;
	background-image: url("background4.jpg"); 
	margin: 0;
	padding:0;
}
#navigation {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 910px;
    min-width: 800px;
    float: right;
	position:absolute;
	bottom: 700;
    top: 20px;
    margin: 0;
	left: 2px
}
body {
    font: 90% arial,sans-serif;
    font-style: normal;
    line-height: 1.88889;
	  color: #000000; 
  	background:#B9C2CC;
  	
	  margin: 0; 
	  padding: 0;
}
article{
    position: relative;
}
a:link {
    text-decoration: none;
}
a {
    padding-right: 0px;
    font-size:18px;
}
a:hover {
    text-decoration: underline;
}
h1{
    padding-left:20px;
    font-size:20px;
}
h3{
    color:#9F3232;
    padding-left:280px;
     font-size:24px;
}
h2{
	padding-left:400px;
	font-size:34px;
}
h4 {
   float: right;
    height: 23px;
    bottom: 100px;
    margin: 0;
    padding-bottom: 10px;
    position: absolute;
    top: 69px;
    color: blue;
}
#sort2 {
    margin-left: 0;
    margin-right: auto;
    width: 70%;
    max-width: 900px;
    min-width: 800px;
}
#wrapper {
    padding-top:100px;
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-top:200px; /* Height of the footer element */
}
#footer {
	background:#89A4AB;
	width:100%;
	height:100px;
	position:relative;
	font-size:16px;
	left:0;
	
}