<h3>Search Page</h3>
    <form ng-submit="ctrl.submit()" name="myForm">
        <input type="text" ng-model="searchTerm" name=search placeholder="Type Word" ng-keydown="search($event)" required ng-pattern="/^(\D)+$/" autofocus required ng-minlength="3">
        <input type="submit" value="Submit" ng-disabled="myForm.$invalid" ng-disabled="!digits.$valid"
        ui-sref="results"/>
    </form>
    <script type="text/javascript">
        angular.module('myApp', [])
            .controller('MainCtrl', [
                function () {
                    var self = this;
                    self.submit = function (search) {
                         console.log('search()')
                          var search = $scope.searchTerm
                          console.log(search)
                    };
    }]);
    </script>
    


